<form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
    <div>
      <div>
        <mat-form-field appearance="fill" style="width:90px" *ngIf="showTotalPlayers">
          <mat-label>Players</mat-label>
          <input matInput formControlName="totalPlayers" type="number" value="">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Templates</mat-label>
          <mat-select formControlName="selectedTemplate" (selectionChange)="templateChange($event.value)">
            <mat-option *ngFor="let template of templates" [value]="template.value">
              {{template.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="addTeam()" [disabled]="!TotalPlayer.valid">Add Team</button>
      </div>
      <hr>
      <div formArrayName="teams" class="d-flex flex-wrap">
        <div *ngFor="let team of Teams.controls; let i=index" >
          <div class="d-flex justify-content-between">
            <p class="mr-2">Team {{1 + i}}</p>
            <mat-icon class="cursor-hover text-danger" (click)="deleteTeam(i)">delete</mat-icon>
          </div>
          <hr>
          <div [formGroupName]="i">
            <div formArrayName="players" class="d-flex flex-wrap">
              <div *ngFor="let player of Players(i).controls; let x=index" >
                <div class="d-flex align-items-center justify-content-center" [formGroupName]="x">
                  <mat-form-field appearance="fill" class="mr-2">
                    <mat-label>Position {{1 +x}}</mat-label>
                    <mat-select id="playerPosition-{{ x }}" formControlName="position">
                      <mat-option *ngFor="let position of positions" [value]="position.value">
                        {{position.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-icon class="cursor-hover text-danger" (click)="deletePlayer(i,x)">delete</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</form>