<div class="container">
    <div class="row">
        <div class="col-12">
          <mat-stepper [linear]="false" [orientation]="isSmallScreen?'vertical':'horizontal'" #stepper>
            <mat-step [stepControl]="createEventInfoForm" label="Fill out Event Information">
              <app-event-detail-info [createEventInfoForm]="createEventInfoForm"></app-event-detail-info>
            </mat-step>
            <mat-step label="Specify teams and players">
              <app-event-team [createEventForm]="createEventForm"></app-event-team>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              <p>You are now done.</p>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="create()">Create</button>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
    </div>
</div>
