<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Event Name</mat-label>
                <input matInput formControlName="eventName" placeholder="Volleyball Open Play" value="">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Location</mat-label>
                <input matInput formControlName="location" value="">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-slide-toggle formControlName="isMaxPlayers" (change)="maxPlayerChange()">Max Players?</mat-slide-toggle>
              <div *ngIf="IsMaxPlayers">
                <mat-form-field appearance="fill" >
                  <mat-label>Max Players</mat-label>
                  <input matInput formControlName="maxPlayers" (change)="maxPlayerValueChange()" type="number" value="12">
                </mat-form-field>
                <div formArrayName="players">
                  <div *ngFor="let player of Players.controls; let i=index">
                    <div [formGroupName]="i">
                      <mat-form-field appearance="fill" >
                        <mat-label>Name</mat-label>
                        <input matInput id="playerName-{{ i }}" formControlName="name" value="">
                      </mat-form-field>
                      <mat-form-field appearance="fill">
                        <mat-label>Position</mat-label>
                        <mat-select id="playerPosition-{{ i }}" formControlName="position">
                          <mat-option *ngFor="let position of positions" [value]="position.value">
                            {{position.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  
                </div>
              </div>
              <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
