<div class="container">
    <div class="row">
        <div class="col-12">
          <form [formGroup]="createEventInfoForm">
            <mat-form-field appearance="fill">
              <mat-label>Event Name</mat-label>
              <input matInput formControlName="eventName" placeholder="Volleyball Open Play" value="">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Location</mat-label>
              <input matInput formControlName="location" value="">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Event Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="eventDate">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100px">
              <mat-label>Start Time</mat-label>
              <mat-select formControlName="startTime">
                <mat-option *ngFor="let time of times" [value]="time.value">
                  {{time.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:80px">
              <mat-select formControlName="startTimeAMPM">
                <mat-option value="PM">PM</mat-option>
                <mat-option value="AM">AM</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100px">
              <mat-label>End Time</mat-label>
              <mat-select formControlName="endTime">
                <mat-option *ngFor="let time of times" [value]="time.value">
                  {{time.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:80px">
              <mat-select formControlName="endTimeAMPM">
                <mat-option value="PM">PM</mat-option>
                <mat-option value="AM">AM</mat-option>
              </mat-select>
            </mat-form-field>
          </form>
            <form [formGroup]="createEventForm" (ngSubmit)="onSubmit()">
              <div>
                <div>
                  <mat-form-field appearance="fill" style="width:90px" *ngIf="showTotalPlayers">
                    <mat-label>Players</mat-label>
                    <input matInput formControlName="totalPlayers" type="number" value="">
                  </mat-form-field>
                  <mat-form-field appearance="fill">
                    <mat-label>Templates</mat-label>
                    <mat-select formControlName="selectedTemplate" (selectionChange)="templateChange($event.value)">
                      <mat-option *ngFor="let template of templates" [value]="template.value">
                        {{template.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button (click)="addTeam()" [disabled]="!TotalPlayer.valid">Add Team</button>
                </div>
                <div formArrayName="teams" class="d-flex flex-wrap">
                  <div *ngFor="let team of Teams.controls; let i=index" >
                    <div [formGroupName]="i">
                      <div formArrayName="players" class="d-flex flex-wrap">
                        <div *ngFor="let player of Players.controls; let x=index" >
                          <div [formGroupName]="x">
                            <mat-form-field appearance="fill">
                              <mat-label>Position {{1 +x}}</mat-label>
                              <mat-select id="playerPosition-{{ x }}" formControlName="position">
                                <mat-option *ngFor="let position of positions" [value]="position.value">
                                  {{position.name}}
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div formArrayName="players" class="d-flex flex-wrap">
                  <div *ngFor="let player of Players.controls; let i=index" >
                    <div [formGroupName]="i">
                      <mat-form-field appearance="fill">
                        <mat-label>Position {{1 +i}}</mat-label>
                        <mat-select id="playerPosition-{{ i }}" formControlName="position">
                          <mat-option *ngFor="let position of positions" [value]="position.value">
                            {{position.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  
                </div>
              </div>
              <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!createEventForm.valid">Submit</button> -->
            </form>
        </div>
    </div>
</div>
